@charset "utf-8";
/* CSS for the button */
.button-back {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #f18517; /* Naranja */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-back:hover {
    background-color: #512a10; /* Café */
    transform: translateY(-3px);
}

.button-back:active {
    background-color: #e07b16; /* Un poco más oscuro que el naranja */
    transform: translateY(0);
}

.button-back h3 {
    margin: 0;
    padding: 0;
    color: inherit;
}/* CSS Document */

